body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.welcome-style{
  background-image: url("https://images.unsplash.com/photo-1434394354979-a235cd36269d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1033&q=80");
  height: 95.7vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.authform{
  max-width: 400px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.authinput{
  height: 30px;
  outline: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.homepage{
  display: flex;
  width: 100%;
  height: 97vh;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: black;
}

.sidebar{
  width: 20%;
  border-right: 1px solid red;
  padding-right: 7px;
  
}

.sidebar-component{
  background-color: antiquewhite;
  text-align: center;
  margin-top: 5px;
  font-size: 1.3em;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  height: 30px;
  background: grey;
}

.wholeEditor{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 95vh;
}

.editor{
  width: 100%;
}
.editor textarea{
  height: 80vh;
  color: black;
  width: 100%;
  background-color: wheat;
}


.buttons{
  display: flex;
  justify-content: flex-end;
}

.buttons button{
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.add-new{
  width: 100%;
  margin-top: 4px;
  border-radius: 5px;
}